*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.pej-slider__warpper {
    display: flex;
    position: relative;
}

.slider__navi {
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
    display: inline-flex;
    top: 420px;
    /* display: inherit; */
}

.slider__navi a {
    display: block;
    height: 48px;
    width: 48px;
    margin: 0 5px;
    /* text-indent: -9999px; */
    box-shadow: none;
    */ border: none;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 10px;
}

.slider__navi a.active {
    background: rgba(255, 255, 255, 1);
}

.flex__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    height: 480px;
    width: 100%;
    z-index: 1;
}

.flex__container.flex--active {
    z-index: 2;
}

.flex__item {
    height: auto;
    color: #fff;
    transition: transform 0.1s linear;
}

.flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 100%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
    opacity: 1;
}


/* ========== CONTENT ITEMS ======= */

.botonbanner {
    font-size: 11px;
    /* letter-spacing: 0.5rem; */
    text-transform: uppercase;
    margin: 20px 0;
    background-color: #000;
    border-radius: 1.2ch;
    /* position: relative; */
    /* box-sizing: content-box; */
    padding: 12px 16px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    transition: all ease 0.5s;
}

a.botonbanner:hover {
    background-color: #ffffff;
    color: #424242;
}

.text--big {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
    margin-top: 0;
    margin-bottom: 10px;
}

.text--normal {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin: 25px 0;
}


/* Background Slide 01 */

.flex--slide01 .flex__item--left {
    background: linear-gradient(13deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(91, 0, 255, 1) 100%);
}


/* Background Slide 02 */

.flex--slide02 .flex__item--left {
    background: linear-gradient(13deg, rgba(255, 254, 0, 1) 0%, rgba(167, 131, 4, 1) 100%);
}


/* Background Slide 03 */

.flex--slide03 .flex__item--left {
    background: linear-gradient(13deg, rgba(2, 213, 141, 1) 0%, rgba(33, 167, 4, 1) 100%);
}


/* Background Slide 04 */

.flex--slide04 .flex__item--left {
    background: linear-gradient(13deg, rgba(98, 2, 2, 1) 0%, rgba(255, 70, 0, 1) 100%);
}


/* Background Slide 05 */

.flex--slide05 .flex__item--left {
    background: linear-gradient(13deg, rgba(255, 213, 0, 1) 0%, rgba(255, 134, 0, 1) 100%);
}


/* Background Slide 06 */

.flex--slide06 .flex__item--left {
    background: linear-gradient(13deg, rgba(255, 0, 200, 1) 0%, rgba(255, 190, 118, 1) 100%);
}

.flex__content {
    margin-left: 80px;
    width: 55%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.slide__img {
    position: absolute;
    bottom: -120px;
    right: 15%;
    max-height: 40vw;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}


/* Animate-START point */

.flex__container.animate--start .flex__content {
    transform: translate3d(0, -200%, 0);
    opacity: 0;
}

.flex__container.animate--start .slide__img {
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
}


/* Animate-END point */

.flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
}

.flex__container.animate--end .flex__content {
    transform: translate3d(0, 200%, 0);
    opacity: 0;
}

.flex__container.animate--end .slide__img {
    transform: translate3d(200px, 0, 0);
    opacity: 0;
}


/*==== MEDIAQUERIES ====== */

@media only screen and (max-width: 600px) {
    .flex__content {
        margin-left: 10px;
        width: 100%;
        padding: 10px;
    }
    .flex__container {
        height: 300px;
    }
    .text--big {
        font-size: 3.5em;
        margin-bottom: 0;
    }
    .text--normal {
        margin: -1px 0 20px 0;
    }
    .slide__img {
        bottom: -70px;
    }
}